body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #591A30;
    color: #ffffff;
    line-height: 1.6;
}


header {
    background-color: rgba(140, 12, 57, 0.5);
    color: white;
    padding: 20px;
    text-align: center;
}

.header-content {
    max-width: 1200px;
    margin: 0 auto;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0;                                                              
}

nav ul li a {
    font-family: 'Lora', serif;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    padding-bottom: 5px;
    transition: color 0.3s ease;
}

nav ul li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #e458d8;
    transition: width 0.3s ease;
}

nav ul li a:hover {
    color: #e458d8;
}

nav ul li a:hover::after {
    width: 100%;
}

.container {
    display: flex;
    justify-content: center;
    padding: 60px 20px;
}
.corpo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
    max-width: 1200px;
    margin: 0 auto;
}

.foto-perfil {
    flex-shrink: 0;
    max-width: 320px;
    width: 100%;
    height: auto;
    border-radius: 60px;
    object-fit: cover;
    border: 3px solid rgba(255, 255, 255, 0.2); 
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 35px rgba(0,0,0,0.4);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.foto-perfil:hover {
    transform: translateY(-8px);
    box-shadow: 0 20px 45px rgba(0,0,0,0.6);
}
.texto-intro {
    text-align: center; 
    flex: 1;
}


.texto-intro h1 {
    font-size: 80px;
    line-height: 1.1;
    margin-bottom: 5px;
}

.texto-intro p {
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 300;
    margin-top: 0;
}

footer {
    padding: 10px 10px;
    margin-top: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    background-color: rgba(0, 0, 0, 0.3);
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-left {
    flex: 1;
    text-align: left;
}

.footer-left p {
    font-family: 'Lora', serif;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.4);
    margin: 0;
}

.social-links {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 30px; 
}

.social-icon {
    color: rgba(255, 255, 255, 0.7);
    font-size: 24px; 
    text-decoration: none;
    transition: all 0.3s ease;
}

.social-icon:hover {
    color: #e458d8;
    transform: translateY(-3px);
}

.efeito-digitar {
    font-family: 'Lora', serif;
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.8);
    margin-top: 0;
    overflow: hidden; 
    border-right: 3px solid #e458d8;
    white-space: nowrap; 
    letter-spacing: 1px;
    margin: 0 auto; 
    
    animation: 
        digitar 3.5s steps(43, end), 
        cursor .75s step-end infinite;
    
    display: inline-block; 
}

@keyframes digitar {
    from { width: 0 }
    to { width: 100%}
}

@keyframes cursor {
    from, to { border-color: transparent }
    50% { border-color: #e458d8 }
}